@import "tailwindcss";

@theme {
    --color-base: var(--bg-base);
    --color-surface: var(--bg-surface);
    --color-active: var(--bg-active);
    --color-border: var(--border-default);

    --color-brand: var(--brand-main);
    --color-brand-hover: var(--brand-hover);

    --color-primary: var(--text-primary);
    --color-secondary: var(--text-secondary);

    --color-danger-subtle: var(--bg-danger-subtle);
    --color-danger-border: var(--border-danger-subtle);
    --color-danger: var(--text-danger);
}

@layer base {
    :root {
        --bg-base: #f9fafb;
        --bg-surface: #ffffff;
        --bg-active: #fce8e8;

        --text-primary: #111827;
        --text-secondary: #6b7280;

        --border-default: #e5e7eb;

        --brand-main: #7A1014;
        --brand-hover: #8a151b;

        --bg-danger-subtle: #fef2f2;
        --border-danger-subtle: #fee2e2;
        --text-danger: #ef4444;
    }

    .dark {
        --bg-base: #111827;
        --bg-surface: #1f2937;
        --bg-active: #3f1517;

        --text-primary: #f3f4f6;
        --text-secondary: #9ca3af;

        --border-default: #374151;

        --brand-main: #f05252;
        --brand-hover: #f87171;

        --bg-danger-subtle: #450a0a;
        --border-danger-subtle: #7f1d1d;
        --text-danger: #f87171;
    }

    body {
        @apply bg-base text-primary transition-colors duration-300;
    }
}